<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Depression and Anxiety</title>
    <link rel="icon" type="image/x-icon" href="/images/logobg.png">
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="service-section">
        <h1>Anxiety and Depression</h1>
        <p>Depression and anxiety, while quite common, can be exhausting and unrelenting experiences for an individual. You may be experiencing one or both of these disorders as they quite commonly co-occur. You may have trouble sleeping or experiencing changes in your appetite. Other common symptoms are the avoidance of activities you used to enjoy or experiencing fear and worry at levels that are not typical for you. We’ll explore how relationships, work or other life circumstances are contributing to exacerbating depression and/or anxiety symptoms.  Our work will also include learning techniques to help alleviate symptoms, create a healthier lifestyle and challenge thoughts that may be keeping you stuck. </p>
        <div class="buttons">
            <a href="/resources">Next Page ></a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>