<footer class="footer">
    <img src="https://media.licdn.com/dms/image/C4E03AQEFrzuZRDfMog/profile-displayphoto-shrink_800_800/0/1517663980266?e=2147483647&v=beta&t=eiOjd1kk2o7fTe-73rnwmL6xt73QSyAVpON_9kwawzc" alt="Laura Image">
    <div class="footer-main">
        <h1>Laura Shulman Brochstein, LISCW</h1>
        <div>
            <a href="mailto:laura.brochstein@gmail.com">Email <i class="fa-solid fa-envelope"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<p>Marblehead, MA</p>
        </div>
    </div>
    <div class="footer-extras">
        <div class="footer-pages">
            <h1>Pages</h1>
            <a href="/#about">About Me</a>
            <a href="/services">Services</a>
            <a href="/resources">Resources</a>
            <a href="/contact">Contact Me</a>
        </div>
        <div class="footer-other">
            <h1>Credits</h1>
            <p><a href="https://unsplash.com/photos/multicolored-abstract-painting-5NE6mX0WVfQ">Website art</a> by Geordanna Cordero</p>
            <p>Site Made By <a href="https://www.linkedin.com/in/eitan-brochstein-0a1a15270/">Eitan Brochstein</a></p>
        </div>
    </div>
</footer>