<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<script src="https://kit.fontawesome.com/636faabd98.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<meta name="keywords" content="laura shulman brochstein, therapy, assistance, massachusetts, marblehead, 01945, services, resources, contact, therapy in marblehead, suicide crisis, laura brochstein, managing life transitions, anxiety, depression, parenting, lgbtq, identity">
<meta name="description" content="Laura Shulman Brochstein is an experienced therapist in Marblehead, MA 01945, she helps people with parenting skills, lgbtq+ identity, anxiety and depression, and managing life transitions. Website made by Eitan Brochstein">