<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/x-icon" href="/images/logobg.png">
<script src="https://kit.fontawesome.com/636faabd98.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>