<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Home</title>
    <link rel="icon" type="image/x-icon" href="/images/logobg.png">
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <header class="header">
        <h1>Need Support Through Life Transitions?</h1>
        <h2>Providing Support Through Decisions and Challenges Throughout the Lifespan</h2>
        <div class="buttons">
            <a href="/contact">Contact Me</a>
            <a href="/services">Services</a>
        </div>
    </header>
    <section id="about" class="about-section">
        <div class="about-main">
            <div class="about-left">
                <div class="background-img">&nbsp;</div>
            </div>
            <div class="about-right">
                <h1>About Me</h1>
                <h2>Laura Shulman Brochstein (she/her)</h2>
                <p>Laura Shulman Brochstein, MA, MSW, LICSW is a licensed clinical social worker. She works with adults struggling with life transitions, parenting challenges, anxiety and depression, and identity development at all ages. Laura integrates a psychodynamic, relational approach with cognitive and mindfulness-based techniques to support clients in accessing their innate wisdom. Laura graduated from Bates College and Brandeis University which led to a career in non-profit fundraising and program development. After Laura’s son was diagnosed with autism, her professional interests shifted, leading her to pursue a Master’s Degree in social work from Salem State University. Laura has worked in a variety of clinical settings with children and families including Jewish Family and Children’s Service of Greater Boston, Children’s Friend and Family Services of Lynn and as the Clinical Program Director of Jewish Big Brothers Big Sisters of Greater Boston.</p>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    <script src="/js/main.js"></script>
</body>
</html>