<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Managing Life Transitions</title>
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="service-section">
        <h1>LGBTQIA+ Identity</h1>
        <p>At a time when awareness, and in some locales, acceptance of LGTQIA identities is high, queer folk are also experiencing aggressive attempts across the country to delegitimize, stigmatize and attack our very existence. In my practice you will experience acceptance and empathy as someone who has identified as queer for over 30 years. You may be an adult exploring shifts in your own identity or a parent of a child (of any age) who is coming to terms with their child’s gender or sexual identity. Gender and sexual identity are core aspects of who we are and how we express ourselves. Our work together will help you process your own thoughts and experiences, helping you to move forward in your relationship with yourself and others.</p>
        <div class="buttons">
            <a href="/services/anxiety-depression">Next Service ></a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>