<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Managing Life Transitions</title>
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="service-section">
        <h1>Managing Life Transitions</h1>
        <p>Life is a constant series of transitions, requiring us to adapt and stretch ourselves whether we’re prepared or not. Learning to adjust to change is an essential part of well-being and personal growth. A frequent source of stress for individuals is finding one’s path through a series of choices and decisions, particularly ones that will have a significant impact on the trajectory of their lives. Therapy can help you to navigate these decisions and the stuckness you may be experiencing. Clients often come to discuss career transition, relationship challenges, and transitions to different life stages like young adulthood, parenthood and middle age.</p>
        <div class="buttons">
            <a href="/services/parenting">Next Service ></a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>