<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Resources</title>
    <link rel="icon" type="image/x-icon" href="/images/logobg.png">
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="header">
        <h1>Resources</h1>
        <h2>Help Me Support Contribute To Communities for Further Awarness In The Greater Boston Area</h2>
        <div class="buttons">
            <a href="/#about">About Me</a>
            <a href="/contact">Contact Me</a>
        </div>
    </section>
    <section class="resources-main">
        <h1>National LGBTQIA+</h1>
        <div class="resources-row">
            <a href="https://lgbthotline.org/">LGBTQ National Health Center</a>
            <a href="https://www.thetrevorproject.org/">The Trevor Project</a>
            <a href="https://translifeline.org/">Trans Lifetime</a>
        </div>
        <h1>Mass LGBTQIA+</h1>
        <div class="resources-row">
            <a href="https://www.gbpflag.org/">Greater Boston Pflag</a>
            <a href="https://www.bagly.org/">Boston Youth Alliance of LGBT</a>
            <a href="https://www.glad.org/">Gay Legal Advocates & Defenders</a>
        </div>
        <h1>National Mental Health</h1>
        <div class="resources-row">
            <a href="https://988lifeline.org/">988 Suicide & Crisis Lifeline</a>
            <a href="https://www.nami.org/Home">National Alliance of Mental Health</a>
            <a href="https://www.samhsa.gov/find-help/national-helpline">Substance Abuse Mental Health Services</a>
            <a href="https://www.ebccenter.org/counseling-and-support-services">Domestic Violence</a>
        </div>
        <h1>Mass Mental Health</h1>
        <div class="resources-row">
            <a href="https://mentalhealthhotline.org/massachusetts">Massachusetts Mental Health Hotlines</a>
            <a href="https://helplinema.org/">Massachusetts Substance Use Helpline</a>
            <a href="https://barcc.org/">Boston Area Rape Crisis Center</a>
            <a href="https://www.masshelpline.com/">Massachusetts Behavioral Help Line</a>
        </div>
        <h1>Substance Use</h1>
        <div class="resources-row">
            <a href="https://www.aa.org/">Alcoholics Anonymous</a>
            <a href="https://www.na.org/">Narcotics Anonymous</a>
            <a href="https://www.smartrecovery.org/">Smart Recovery</a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>