<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Contact Succeed</title>
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="header" style="height: 30rem;">
        <h1>Contact Succeeded</h1>
        <h2>Thanks for Contact Me! I'll reply as soon as possible.</h2>
        <div class="buttons">
            <a href="/contact">Back</a>
            <a href="/">Main Page</a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>