<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laura Shulman Brochstein - Services</title>
    <link rel="icon" type="image/x-icon" href="/images/logobg.png">
    {% include "head.html" %}
</head>
<body>
    {% include "nav.html" %}
    <section class="services-section">
        <h1>Services</h1>
        <div class="services">
            <a href="/services/managing-life-transitions">Managing life transitions</a>
            <a href="/services/parenting">Parenting</a>
            <a href="/services/lgbtq-identity">LGBTQIA+ Identity</a>
            <a href="/services/anxiety-depression">Depression & Anxiety</a>
        </div>
    </section>
    {% include "footer.html" %}
</body>
</html>